<div class="navbar">
  <%= link_to "LXS.devblog", root_path, class: "navbar-title" %>
  <div class="navbar-menu">
    <%= link_to "Projets", projects_path, class: "navbar-item" %>
  </div>
  <div class="navbar-login">
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <%= link_to "Manage", pages_manage_path	 %>
    <% else %>
      <%= link_to "Login", user_session_path %>
    <% end %>
  </div>
</div>
